# binary file
/reportingm8

# configuration files
configs/*
!configs/.gitkeep
!configs/configuration_template.yaml
!configs/examples/

# other session files
resume.cfg

# assets folder
assets/*
# exception to the rule
!assets/.gitkeep

# app folder
app/*

# bin folder
bin/*
# exception to the rule
!bin/.gitkeep
!bin/dockerfile

# log folder
log/*
!log/.gitkeep

# temp folder
tmp/*
# exception to the rule
!tmp/.gitkeep 

# docs folder
docs/*

# AI
CLAUDE.md